.uk-button-primary
  background-color: p_fuchsia
  &:hover
    background-color: p_fuchsia_dark

.uk-input:focus, .uk-select:focus, .uk-textarea:focus
  border-color p_fuchsia

.uk-navbar-nav > li.uk-active > a
  color: p_fuchsia

.uk-table-hover > tr:hover, .uk-table-hover tbody tr:hover
  background: rgba(219, 19, 219, 0.13)