<div uk-grid>
  <div class="uk-width-expand">
    <div class="uk-card uk-card-default uk-card-body">
      <h1 class="uk-heading-small">New Employee</h1>
      <%= render("form.html", changeset: @new_employee_changeset, action: Routes.employees_path(@conn, :create), submit_label: "Add") %>
    </div>
  </div>
</div>
