/* This file is for your main application css. */

/*@import "./phoenix.css";*/

@require "vars.styl"
@require "partials/header.styl"
@require "lib/uikit.theme.styl"


.logo
  width: 210px
  height: 55px
  background-image: url("/images/Logo.svg")
  background-size contain
  background-repeat no-repeat



.help-block
  color: p_red
